	<!DOCTYPE html>
	<html lang="zxx" class="no-js">
	<head>
		<!-- Mobile Specific Meta -->
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- Favicon-->
		<link rel="shortcut icon" href="../image/cbrentcars.png">
		<!-- Author Meta -->
		<meta name="author" content="codepixer">
		<!-- Meta Description -->
		<meta name="description" content="">
		<!-- Meta Keyword -->
		<meta name="keywords" content="">
		<!-- meta character set -->
		<meta charset="UTF-8">
		<!-- Site Title -->
		<title>Car Rentals</title>

		<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet"> 
			<!--
			CSS
			============================================= -->
			<link rel="stylesheet" href="css/linearicons.css">
			<link rel="stylesheet" href="css/font-awesome.min.css">
			<link rel="stylesheet" href="css/bootstrap.css">
			<link rel="stylesheet" href="css/magnific-popup.css">
			<link rel="stylesheet" href="css/nice-select.css">					
			<link rel="stylesheet" href="css/animate.min.css">
			<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">			
			<link rel="stylesheet" href="css/owl.carousel.css">
			<link rel="stylesheet" href="css/main.css">
		</head>
		<body>

			  <header id="header" id="home">
			    <div class="container">
			    	<div class="row align-items-center justify-content-between d-flex">
				      <div id="logo">
				        <a href="index.html"><img src="../image/cbrentcars.png" alt="" title="" width="50" /></a>
				      </div>
				      <nav id="nav-menu-container">
				        <ul class="nav-menu">
				          <li class="menu-active"><a href="index.html">Beranda</a></li>
				          <li><a href="syarat-ketentuan.html">Syarat Dan Ketentuan</a></li>
				          <li><a href="cars.html">Tentang Kami</a></li>
				          <li><a href="service.html">Kontak</a></li>
				          <li><a href="team.html">Team</a></li>	
				          <li><a href="blog-home.html">Blog</a></li>	
				          <li><a href="contact.html">Contact</a></li>	
				          <li class="menu-has-children"><a href="">Pages</a>
				            <ul>
				              <li><a href="blog-single.html">Blog Single</a></li>
				              <li><a href="elements.html">Elements</a></li>
				            </ul>
				          </li>			          
				        </ul>
				      </nav><!-- #nav-menu-container -->		    		
			    	</div>
			    </div>
			  </header><!-- #header -->


			<!-- start banner Area -->
			<section class="banner-area relative" id="home">
				<div class="overlay overlay-bg"></div>	
				<div class="container">
					<div class="row fullscreen d-flex align-items-center justify-content-center">
						<div class="banner-content col-lg-7 col-md-6 ">
							<h6 class="text-white ">CB Rental Car</h6>
							<h1 class="text-white text-uppercase">
								Jasa Rental Mobil			
							</h1>
							<p class="pt-20 pb-20 text-white">
								Jasa Rental Mobil Pekanbaru, terlengkap dan terpercaya, unit baru, bersih dan terawat, siap melayani penjemputan di Bandara & Hotel, maupun perjalanan lintas antar Provinsi, dengan layanan terbaik oleh Driver kami yang ramah, sopan serta berpengalaman.
							</p>
						</div>
						<div class="col-lg-5  col-md-6 header-right">
							<h4 class="text-white pb-30">Pesan Mobil Anda Hari Ini!</h4>
							<form class="form" role="form" autocomplete="off">
							    <div class="form-group">
							       	<div class="default-select" id="default-select"">
										<select>
											<option value="" disabled selected hidden>Pilih Mobil Anda</option>
											<option value="Land Cruiser">Land Cruiser</option>
											<option value="Toyota Alphard">Toyota Alphard</option>
											<option value="Toyota Camry">Toyota Camry</option>
											<option value="Fortuner VRZ">Fortuner VRZ</option>
											<option value="Pajero Sport">Pajero Sport</option>
											<option value="Double Cabin">Double Cabin</option>
											<option value="Innova Reborn">Innova Reborn</option>
											<option value="Toyota Rush">Toyota Rush</option>
											<option value="Mitsubishi Xpander">Mitsubishi Xpander</option>
											<option value="Toyota Avanza">Toyota Avanza</option>
											<option value="Daihatsu Xenia">Daihatsu Xenia</option>
											<option value="Pick up">Pick up</option>
											<option value="Isuzu Elf">Isuzu Elf</option>
											<option value="Toyota Hiace">Toyota Hiace</option>
											<option value="Bus Pariwisata">Bus Pariwisata</option>
										</select>
									</div>
							    </div>
							    <div class="form-group row">
							        <div class="col-md-6 wrap-left">
								       	<div class="default-select" id="default-select"">
											<input class="form-control txt-field" type="text" name="name" placeholder="Tanggal Penyewaan" disabled>
										</div>
							        </div>
							        <div class="col-md-6 wrap-right">
										<div class="input-group dates-wrap">                                          
											<input id="datepicker" class="dates form-control" id="exampleAmount" placeholder="Tanggal" type="text">                        
											<div class="input-group-prepend">
												<span  class="input-group-text"><span class="lnr lnr-calendar-full"></span></span>
											</div>											
										</div>
							        </div>
							    </div>
							    <div class="form-group row">
							        <div class="col-md-6 wrap-left">
								       	<div class="default-select" id="default-select"">
											<input class="form-control txt-field" type="text" name="name" placeholder="Tanggal Pengembalian" disabled>
										</div>
							        </div>
							        <div class="col-md-6 wrap-right">
										<div class="input-group dates-wrap">                                              
											<input id="datepicker2" class="dates form-control" id="exampleAmount" placeholder="Tanggal" type="text">                        
											<div class="input-group-prepend">
												<span  class="input-group-text"><span class="lnr lnr-calendar-full"></span></span>
											</div>											
										</div>
							        </div>
							    </div>							    
							    <div class="from-group">
							    	<input class="form-control txt-field" type="text" name="name" placeholder="Nama Anda">
							    </div>
							    <div class="form-group row">
							        <div class="col-md-12">
							            <button type="reset" class="btn btn-default btn-lg btn-block text-center text-uppercase">Konfirmasi Pemesanan Mobil</button>
							        </div>
							    </div>
							</form>
						</div>											
					</div>
				</div>					
			</section>
			<!-- End banner Area -->

			<!-- Start model Area -->
			<section class="model-area section-gap" id="cars">
				<div class="container">
					<div class="row d-flex justify-content-center pb-40">
						<div class="col-md-8 pb-40 header-text">
							<h1 class="text-center pb-10">Choose your Desired Car Model</h1>
							<p class="text-center">
								Who are in extremely love with eco friendly system.
							</p>
						</div>
					</div>				
					<div class="active-model-carusel">
						<div class="row align-items-center single-model item">
							<div class="col-lg-6 model-left">
								<div class="title justify-content-between d-flex">
									<h4 class="mt-20">Land Cruiser</h4>
									<h2>Rp. 8.500.000<span>/ 12 Jam</span></h2>
								</div>
								<p>
									Include
								</p>
								<p>
									Driver <br>
									BBM <br>
									Parkir <br>
									Pemakain dalam kota Pekanbaru<br>
									<b>*Harga dapat berubah sewaktu-waktu <br>tanpa pemberitahuan terlebih dahulu</b>
								</p>
								<a class="text-uppercase primary-btn" href="https://api.whatsapp.com/send?phone=6285278476666&text=Hallo%20Admin%20Saya%20Mau%20Rental%20Mobil%20Land%20Cuiser%20Apakah%20Masih%20Tersedia?">Rental Mobil Ini Sekarang</a>
							</div>
							<div class="col-lg-6 model-right">
								<img class="img-fluid" src="../image/land_cruiser.png" alt="">
							</div>
						</div>
						<div class="row align-items-center single-model item">
							<div class="col-lg-6 model-left">
								<div class="title justify-content-between d-flex">
									<h4 class="mt-20">Toyota Alphard</h4>
									<h2>Rp. 5.500.000<span>/ 12 Jam</span></h2>
								</div>
								<p>
									Include
								</p>
								<p>
									Driver <br>
									BBM <br>
									Parkir <br>
									Pemakain dalam kota Pekanbaru<br>
									<b>*Harga dapat berubah sewaktu-waktu <br>tanpa pemberitahuan terlebih dahulu</b>
								</p>
								<a class="text-uppercase primary-btn" href="https://api.whatsapp.com/send?phone=6285278476666&text=Hallo%20Admin%20Saya%20Mau%20Rental%20Mobil%20Toyota%20Alphard%20Apakah%20Masih%20Tersedia?">Rental Mobil Ini Sekarang</a>
							</div>
							<div class="col-lg-6 model-right">
								<img class="img-fluid" src="../image/toyota_alphard.png" alt="">
							</div>
						</div>
						<div class="row align-items-center single-model item">
							<div class="col-lg-6 model-left">
								<div class="title justify-content-between d-flex">
									<h4 class="mt-20">Toyota Camry</h4>
									<h2>Rp. 4.500.000<span>/ 12 Jam</span></h2>
								</div>
								<p>
									Include
								</p>
								<p>
									Driver <br>
									BBM <br>
									Parkir <br>
									Pemakain dalam kota Pekanbaru<br>
									<b>*Harga dapat berubah sewaktu-waktu <br>tanpa pemberitahuan terlebih dahulu</b>
								</p>
								<a class="text-uppercase primary-btn" href="https://api.whatsapp.com/send?phone=6285278476666&text=Hallo%20Admin%20Saya%20Mau%20Rental%20Mobil%20Toyota%20Camry%20Apakah%20Masih%20Tersedia?">Rental Mobil Ini Sekarang</a>
							</div>
							<div class="col-lg-6 model-right">
								<img class="img-fluid" src="../image/toyota_camry.jpg" alt="">
							</div>
						</div>
						<div class="row align-items-center single-model item">
							<div class="col-lg-6 model-left">
								<div class="title justify-content-between d-flex">
									<h4 class="mt-20">Fortuner VRZ</h4>
									<h2>Rp. 1.800.000<span>/ 12 Jam</span></h2>
								</div>
								<p>
									Include
								</p>
								<p>
									Driver <br>
									BBM <br>
									Parkir <br>
									Pemakain dalam kota Pekanbaru<br>
									<b>*Harga dapat berubah sewaktu-waktu <br>tanpa pemberitahuan terlebih dahulu</b>
								</p>
								<a class="text-uppercase primary-btn" href="https://api.whatsapp.com/send?phone=6285278476666&text=Hallo%20Admin%20Saya%20Mau%20Rental%20Mobil%20Fortuner%20VRZ%20Apakah%20Masih%20Tersedia?">Rental Mobil Ini Sekarang</a>
							</div>
							<div class="col-lg-6 model-right">
								<img class="img-fluid" src="../image/fortuner_vrz.png" alt="">
							</div>
						</div>	
						<div class="row align-items-center single-model item">
							<div class="col-lg-6 model-left">
								<div class="title justify-content-between d-flex">
									<h4 class="mt-20">Pajero Sport</h4>
									<h2>Rp. 1.800.000<span>/ 12 Jam</span></h2>
								</div>
								<p>
									Include
								</p>
								<p>
									Driver <br>
									BBM <br>
									Parkir <br>
									Pemakain dalam kota Pekanbaru<br>
									<b>*Harga dapat berubah sewaktu-waktu <br>tanpa pemberitahuan terlebih dahulu</b>
								</p>
								<a class="text-uppercase primary-btn" href="https://api.whatsapp.com/send?phone=6285278476666&text=Hallo%20Admin%20Saya%20Mau%20Rental%20Mobil%20Pajero%20Sport%20Apakah%20Masih%20Tersedia?">Rental Mobil Ini Sekarang</a>
							</div>
							<div class="col-lg-6 model-right">
								<img class="img-fluid" src="../image/pajero_sport.jpg" alt="">
							</div>
						</div>	
						<div class="row align-items-center single-model item">
							<div class="col-lg-6 model-left">
								<div class="title justify-content-between d-flex">
									<h4 class="mt-20">Double Cabin</h4>
									<h2>Rp. 1.400.000<span>/ 12 Jam</span></h2>
								</div>
								<p>
									Include
								</p>
								<p>
									Driver <br>
									BBM <br>
									Parkir <br>
									Pemakain dalam kota Pekanbaru<br>
									<b>*Harga dapat berubah sewaktu-waktu <br>tanpa pemberitahuan terlebih dahulu</b>
								</p>
								<a class="text-uppercase primary-btn" href="https://api.whatsapp.com/send?phone=6285278476666&text=Hallo%20Admin%20Saya%20Mau%20Rental%20Mobil%20Double%20Cabin%20Apakah%20Masih%20Tersedia?">Rental Mobil Ini Sekarang</a>
							</div>
							<div class="col-lg-6 model-right">
								<img class="img-fluid" src="../image/Double_Cabin.png" alt="">
							</div>
						</div>	
						<div class="row align-items-center single-model item">
							<div class="col-lg-6 model-left">
								<div class="title justify-content-between d-flex">
									<h4 class="mt-20">Innova Reborn</h4>
									<h2>Rp. 800.000<span>/ 12 Jam</span></h2>
								</div>
								<p>
									Include
								</p>
								<p>
									Driver <br>
									BBM <br>
									Parkir <br>
									Pemakain dalam kota Pekanbaru<br>
									<b>*Harga dapat berubah sewaktu-waktu <br>tanpa pemberitahuan terlebih dahulu</b>
								</p>
								<a class="text-uppercase primary-btn" href="https://api.whatsapp.com/send?phone=6285278476666&text=Hallo%20Admin%20Saya%20Mau%20Rental%20Mobil%20Innova%20Reborn%20Apakah%20Masih%20Tersedia?">Rental Mobil Ini Sekarang</a>
							</div>
							<div class="col-lg-6 model-right">
								<img class="img-fluid" src="../image/Innova_Reborn.jpg" alt="">
							</div>
						</div>	
						<div class="row align-items-center single-model item">
							<div class="col-lg-6 model-left">
								<div class="title justify-content-between d-flex">
									<h4 class="mt-20">Toyota Rush</h4>
									<h2>Rp. 700.000<span>/ 12 Jam</span></h2>
								</div>
								<p>
									Include
								</p>
								<p>
									Driver <br>
									BBM <br>
									Parkir <br>
									Pemakain dalam kota Pekanbaru<br>
									<b>*Harga dapat berubah sewaktu-waktu <br>tanpa pemberitahuan terlebih dahulu</b>
								</p>
								<a class="text-uppercase primary-btn" href="https://api.whatsapp.com/send?phone=6285278476666&text=Hallo%20Admin%20Saya%20Mau%20Rental%20Mobil%20Toyota%20Rush%20Apakah%20Masih%20Tersedia?">Rental Mobil Ini Sekarang</a>
							</div>
							<div class="col-lg-6 model-right">
								<img class="img-fluid" src="../image/Toyota_Rush.png" alt="">
							</div>
						</div>	
						<div class="row align-items-center single-model item">
							<div class="col-lg-6 model-left">
								<div class="title justify-content-between d-flex">
									<h4 class="mt-20">Mitsubishi Xpander</h4>
									<h2>Rp. 700.000<span>/ 12 Jam</span></h2>
								</div>
								<p>
									Include
								</p>
								<p>
									Driver <br>
									BBM <br>
									Parkir <br>
									Pemakain dalam kota Pekanbaru<br>
									<b>*Harga dapat berubah sewaktu-waktu <br>tanpa pemberitahuan terlebih dahulu</b>
								</p>
								<a class="text-uppercase primary-btn" href="https://api.whatsapp.com/send?phone=6285278476666&text=Hallo%20Admin%20Saya%20Mau%20Rental%20Mobil%20Mitsubishi%20Xpander%20Apakah%20Masih%20Tersedia?">Rental Mobil Ini Sekarang</a>
							</div>
							<div class="col-lg-6 model-right">
								<img class="img-fluid" src="../image/Mitsubishi_Xpander.png" alt="">
							</div>
						</div>	
						<div class="row align-items-center single-model item">
							<div class="col-lg-6 model-left">
								<div class="title justify-content-between d-flex">
									<h4 class="mt-20">Toyota Avanza</h4>
									<h2>Rp. 600.000<span>/ 12 Jam</span></h2>
								</div>
								<p>
									Include
								</p>
								<p>
									Driver <br>
									BBM <br>
									Parkir <br>
									Pemakain dalam kota Pekanbaru<br>
									<b>*Harga dapat berubah sewaktu-waktu <br>tanpa pemberitahuan terlebih dahulu</b>
								</p>
								<a class="text-uppercase primary-btn" href="https://api.whatsapp.com/send?phone=6285278476666&text=Hallo%20Admin%20Saya%20Mau%20Rental%20Mobil%20Toyota%20Avanza%20Apakah%20Masih%20Tersedia?">Rental Mobil Ini Sekarang</a>
							</div>
							<div class="col-lg-6 model-right">
								<img class="img-fluid" src="../image/Toyota_Avanza.png" alt="">
							</div>
						</div>	
						<div class="row align-items-center single-model item">
							<div class="col-lg-6 model-left">
								<div class="title justify-content-between d-flex">
									<h4 class="mt-20">Daihatsu Xenia</h4>
									<h2>Rp. 600.000<span>/ 12 Jam</span></h2>
								</div>
								<p>
									Include
								</p>
								<p>
									Driver <br>
									BBM <br>
									Parkir <br>
									Pemakain dalam kota Pekanbaru<br>
									<b>*Harga dapat berubah sewaktu-waktu <br>tanpa pemberitahuan terlebih dahulu</b>
								</p>
								<a class="text-uppercase primary-btn" href="https://api.whatsapp.com/send?phone=6285278476666&text=Hallo%20Admin%20Saya%20Mau%20Rental%20Mobil%20Daihatsu%20Xenia%20Apakah%20Masih%20Tersedia?">Rental Mobil Ini Sekarang</a>
							</div>
							<div class="col-lg-6 model-right">
								<img class="img-fluid" src="../image/Daihatsu_Xenia.png" alt="">
							</div>
						</div>	
						<div class="row align-items-center single-model item">
							<div class="col-lg-6 model-left">
								<div class="title justify-content-between d-flex">
									<h4 class="mt-20">Pick up</h4>
									<h2>Rp. 600.000<span>/ 12 Jam</span></h2>
								</div>
								<p>
									Include
								</p>
								<p>
									Driver <br>
									BBM <br>
									Parkir <br>
									Pemakain dalam kota Pekanbaru<br>
									<b>*Harga dapat berubah sewaktu-waktu <br>tanpa pemberitahuan terlebih dahulu</b>
								</p>
								<a class="text-uppercase primary-btn" href="https://api.whatsapp.com/send?phone=6285278476666&text=Hallo%20Admin%20Saya%20Mau%20Rental%20Mobil%20Pick%20Up%20Apakah%20Masih%20Tersedia?">Rental Mobil Ini Sekarang</a>
							</div>
							<div class="col-lg-6 model-right">
								<img class="img-fluid" src="../image/Pick_up.jpg" alt="">
							</div>
						</div>	
						<div class="row align-items-center single-model item">
							<div class="col-lg-6 model-left">
								<div class="title justify-content-between d-flex">
									<h4 class="mt-20">Isuzu Elf</h4>
									<h2>Rp. 1.600.000<span>/ 12 Jam</span></h2>
								</div>
								<p>
									Include
								</p>
								<p>
									Driver <br>
									BBM <br>
									Parkir <br>
									Pemakain dalam kota Pekanbaru<br>
									<b>*Harga dapat berubah sewaktu-waktu <br>tanpa pemberitahuan terlebih dahulu</b>
								</p>
								<a class="text-uppercase primary-btn" href="https://api.whatsapp.com/send?phone=6285278476666&text=Hallo%20Admin%20Saya%20Mau%20Rental%20Mobil%20Isuzu%20Elf%20Apakah%20Masih%20Tersedia?">Rental Mobil Ini Sekarang</a>
							</div>
							<div class="col-lg-6 model-right">
								<img class="img-fluid" src="../image/Isuzu_Elf.jpg" alt="">
							</div>
						</div>	
						<div class="row align-items-center single-model item">
							<div class="col-lg-6 model-left">
								<div class="title justify-content-between d-flex">
									<h4 class="mt-20">Toyota Hiace</h4>
									<h2>Rp. 1.400.000<span>/ 12 Jam</span></h2>
								</div>
								<p>
									Include
								</p>
								<p>
									Driver <br>
									BBM <br>
									Parkir <br>
									Pemakain dalam kota Pekanbaru<br>
									<b>*Harga dapat berubah sewaktu-waktu <br>tanpa pemberitahuan terlebih dahulu</b>
								</p>
								<a class="text-uppercase primary-btn" href="https://api.whatsapp.com/send?phone=6285278476666&text=Hallo%20Admin%20Saya%20Mau%20Rental%20Mobil%20Toyota%20Hiace%20Apakah%20Masih%20Tersedia?">Rental Mobil Ini Sekarang</a>
							</div>
							<div class="col-lg-6 model-right">
								<img class="img-fluid" src="../image/Toyota_Hiace.png" alt="">
							</div>
						</div>	
						<div class="row align-items-center single-model item">
							<div class="col-lg-6 model-left">
								<div class="title justify-content-between d-flex">
									<h4 class="mt-20">Bus Pariwisata</h4>
									<h2>Rp. 2.800.000<span>/ 12 Jam</span></h2>
								</div>
								<p>
									Include
								</p>
								<p>
									Driver <br>
									BBM <br>
									Parkir <br>
									Pemakain dalam kota Pekanbaru<br>
									<b>*Harga dapat berubah sewaktu-waktu <br>tanpa pemberitahuan terlebih dahulu</b>
								</p>
								<a class="text-uppercase primary-btn" href="https://api.whatsapp.com/send?phone=6285278476666&text=Hallo%20Admin%20Saya%20Mau%20Rental%20Mobil%20Bus%20Pariwisata%20Apakah%20Masih%20Tersedia?">Rental Mobil Ini Sekarang</a>
							</div>
							<div class="col-lg-6 model-right">
								<img class="img-fluid" src="../image/Bus_Pariwisata.jpg" alt="">
							</div>
						</div>	
					</div>
				</div>	
			</section>
			<!-- End model Area -->
			
			<!-- Start callaction Area -->
			<section class="callaction-area relative section-gap">
				<div class="overlay overlay-bg"></div>
				<div class="container">
					<div class="row justify-content-center">
						<div class="col-lg-10">
							<h1 class="text-white">Keterangan</h1>
							<ul>
								<li>1. Harga belum termasuk konsumsi supir selama bertugas.</li>
								<li>2. Harga belum termasuk penginapan supir jika perjalanan diluar kota pekanbaru.</li>
								<li>3. Harga belum termasuk, penyebrangan ferry, tol, dan karcis masuk objek wisata.</li>
								<li>4. Harga tersebut diatas sewaktu-waktu bisa berubah tanpa pemberitahuan sebelumnya.</li>
								<li>5. Harga diatas bisa disesuaikan dan dibicarakan jika ada rute kunjungan yang jelas (Negotable Price) * Untuk pemakaian luar provinsi wilayah tertentu.</li>
							</ul>
							<b>HARGA TERTERA HANYA UNTUK DI DALAM KOTA PEKANBARU, UNTUK RUTE DI LUAR KOTA BISA CALL CS KAMI UNTUK MENGETAHUI HARGA TERBAIK HARI INI</b>
						</div>
					</div>
				</div>	
			</section>
			<!-- End callaction Area -->

			<!-- Start home-about Area -->
			<section class="home-about-area" id="about">
				<div class="container-fluid">				
					<div class="row justify-content-center align-items-center">
						<div class="col-lg-6 no-padding home-about-left">
							<img class="img-fluid" src="img/about-img.jpg" alt="">
						</div>
						<div class="col-lg-6 no-padding home-about-right">
							<h1>Syarat Dan Ketentuan<br>
							Jika Ingin Lepas Kunci</h1>
							<ol>
								<li>1. Foto Kartu Keluarga</li>
								<li>2. Foto Sim A</li>
								<li>3. Foto KTP</li>
								<li>4. Rumah Sendiri(Tidak Menyewa/Kontrak)</li>
								<li>5. Sepeda Motor + STNK Untuk Jaminan</li>
								<li>6. No Telpon Tidak Serumah</li>
							</ol>
						</div>
					</div>
				</div>	
			</section>
			<!-- End home-about Area -->	


			<!-- Start fact Area -->
			<section class="facts-area section-gap">
				<div class="container">
						<div class="col single-fact text-center">
							<h1 class="counter">1000</h1>
							<p>Pelanggan Sudah Kami Terima</p>
						</div>				
				</div>	
			</section>
			<!-- end fact Area -->							

			<!-- Start reviews Area -->
			<section class="reviews-area section-gap" id="review">
				<div class="container">
					<div class="row d-flex justify-content-center">
						<div class="col-md-8 pb-40 header-text text-center">
							<h1>Review Pelanggan</h1>
							<p class="mb-10 text-center">
								Apa Kata Pelanggan Kami?
							</p>
						</div>
					</div>					
					<div class="row">
						<div class="col-lg-4 col-md-6">
							<div class="single-review">
								<h4>Dimas Aditya Mukhsinin</h4>
								<p>
									Mobilnya bagus, rapi, bersih dan pelayanan yang diberikan sangat baik.
								</p>
								<div class="star">
									<span class="fa fa-star checked"></span>
									<span class="fa fa-star checked"></span>
									<span class="fa fa-star checked"></span>
									<span class="fa fa-star checked"></span>
									<span class="fa fa-star checked"></span>
								</div>
							</div>
						</div>					
					</div>
				</div>	
			</section>
			<!-- End reviews Area -->

			<!-- start footer Area -->		
			<footer class="footer-area section-gap">
				<div class="container">
					<div class="row">
						<div class="col-lg-2 col-md-6 col-sm-6">
							<div class="single-footer-widget">
								<h6>Quick links</h6>
								<ul>
									<li><a href="#">Jobs</a></li>
									<li><a href="#">Brand Assets</a></li>
									<li><a href="#">Investor Relations</a></li>
									<li><a href="#">Terms of Service</a></li>
								</ul>								
							</div>
						</div>												
						<div class="col-lg-2 col-md-6 col-sm-6 social-widget">
							<div class="single-footer-widget">
								<h6>Ikuti Kami</h6>
								<p>Media Sosial</p>
								<div class="footer-social d-flex align-items-center">
									<a href="#"><i class="fa fa-facebook"></i></a>
									<a href="#"><i class="fa fa-twitter"></i></a>
									<a href="#"><i class="fa fa-dribbble"></i></a>
									<a href="#"><i class="fa fa-behance"></i></a>
								</div>
							</div>
						</div>	
						<p class="mt-50 mx-auto footer-text col-lg-12">
							<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | CB Rent Cars</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
						</p>											
					</div>
				</div>
			</footer>	
			<!-- End footer Area -->		

			<script src="js/vendor/jquery-2.2.4.min.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
			<script src="js/vendor/bootstrap.min.js"></script>			
			<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
			<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>			
  			<script src="js/easing.min.js"></script>			
			<script src="js/hoverIntent.js"></script>
			<script src="js/superfish.min.js"></script>	
			<script src="js/jquery.ajaxchimp.min.js"></script>
			<script src="js/jquery.magnific-popup.min.js"></script>	
			<script src="js/owl.carousel.min.js"></script>			
			<script src="js/jquery.sticky.js"></script>
			<script src="js/jquery.nice-select.min.js"></script>	
			<script src="js/waypoints.min.js"></script>
			<script src="js/jquery.counterup.min.js"></script>					
			<script src="js/parallax.min.js"></script>		
			<script src="js/mail-script.js"></script>	
			<script src="js/main.js"></script>	
		</body>
	</html>



